
<div class="container">
    <div class="jumbotron py-3">
      <h1 class="display-4 text-center">
        User Register
      </h1>
    </div>
    <div class="row">
      <div class="col-md-6">
        <form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
            <input type="hidden" name="userId" 
            [value]="service.formData.userId"/>
            <div class="form-group">
                <label for="">User Name</label>
                <input  class="form-control form-control-lg"
                 placeholder="User Name" name="name" #name="ngModel" 
                 [(ngModel)]="service.formData.name"
                 required [class.invalid]="name.invalid && name.touched">
            </div>
            <div class="form-group">
                <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
            </div>
        </form>
        
      </div>
      <div class="col-md-6">
          <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.userId}}</td>
                    <td (click)="populateForm(pd)">{{pd.name}}</td>
                    <td>
                      <button class="btn btn-sm btn-info"
                        [routerLink]="['/message', pd.name]">
                        <i class="fa fa-mail" ></i>Messages</button>
                    
                      <button class="btn btn-sm btn-danger"
                        (click)="onDelete(pd.userId)">
                          <i class="fa fa-remove"></i>Delete</button>
                    
                          
                      <!-- <i class="fas fa-envelope-square fa-lg" [routerLink]="['/message', pd.name]"></i> 
                      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.userId)"></i>
                      -->
                    </td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    
  </div>
  
  
